body{
font-family: Arial, sans-serif;
font-size:12pt;
background-image:url('http://shootystealy.com/images/mw.jpg');
background-repeat:repeat;
background-size:auto auto;
background-attachment:fixed;
}
#web{
width:919px;
min-height:800px;
height:auto !important; 
height:800px;
background-color:#5C5557;
margin-right: auto;
margin-left: auto;
}
#banner{
height:80px;
width:100%;
border:solid black 1px;
text-align:center;
background-color:#5C5557;
}

.icon{ vertical-align: -18%; }
.icons{ vertical-align: -20%; }
#tabs {
    font-family: Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin:0;
	padding: 0;
	list-style-type: none;
	background-color: #eee;
	font-size: 125%;
	height: 40px;
	border-top: 2px solid #eee;
	border-bottom: 2px solid #ccc;
}
#tabs li {
    float: left;
	margin: 0;
}
#tabs li a {
    text-decoration: none;
	display: block;
	padding: 0 20px;
	line-height: 40px;
	color: #666;
}
#tabs li a:hover, #tabs li.active a {
    background-color: #f5f5f5;
	border-bottom: 2px solid #DDD;
	color: #999;
}
#tabs_container ul {margin-left: 12px;}
#tabs_container {padding: 0 16px 0 0; background: url('http://shootystealy.com/images/grey.png') no-repeat right;}
#tabs_container div {float: left; height: 44px; width: 12px; background: url('http://shootystealy.com/images/grey.png') no-repeat left;} 

/* Black Menu */
#tabs_container.black ul {border-top: 2px solid #333; border-bottom: 2px solid #000; background: #333;}
#tabs_container.black a {color: #CCC;}
#tabs_container.black li a:hover{color: #999; background: #555; border-bottom: 2px solid #444;}
#tabs_container.black li.active a {color: #CCC; background: #333; border-bottom: 2px solid #BA0000;}
#tabs_container.black li.active a:hover{color: #999; background: #555; border-bottom: 2px solid #BA0000;}
#tabs_container.black {background: url('http://shootystealy.com/images/black.png') no-repeat right;}
#tabs_container.black div {background: url('http://shootystealy.com/images/black.png') no-repeat left;}

/* 
#tabs_wrapper {
    
}
*/

#tabs_content_container {
float:left;
min-height:800px;
height:auto !important;
/* IE10 */ 
background-image: -ms-radial-gradient(center bottom, circle farthest-corner, #002B05 0%, #14A341 25%, #1BD956 75%, #006B0C 100%);
/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center bottom, circle farthest-corner, #002B05 0%, #14A341 25%, #1BD956 75%, #006B0C 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 567, color-stop(0, #002B05), color-stop(0.25, #14A341), color-stop(0.75, #1BD956), color-stop(1, #006B0C));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center bottom, circle farthest-corner, #002B05 0%, #14A341 25%, #1BD956 75%, #006B0C 100%);
/* Proposed W3C Markup */ 
background-image: radial-gradient(center bottom, circle farthest-corner, #002B05 0%, #14A341 25%, #1BD956 75%, #006B0C 100%);

width:100%;
border:solid black 1px;
text-align:center;
-moz-border-radius: 15px;
border-radius: 15px;
}

.tab_content {
float:left;
width:77%;
margin:3px;
min-height:800px;
height:auto !important;
text-align:left;
border:solid black 1px;
/* IE10 */ 
background-image: -ms-linear-gradient(top, #9C9C9C 0%, #CCCCCC 25%, #BABABA 75%, #4A4A4A 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #9C9C9C 0%, #CCCCCC 25%, #BABABA 75%, #4A4A4A 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9C9C9C), color-stop(0.25, #CCCCCC), color-stop(0.75, #BABABA), color-stop(1, #4A4A4A));
/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top, #9C9C9C 0%, #CCCCCC 25%, #BABABA 75%, #4A4A4A 100%);
/* Proposed W3C Markup */ 
background-image: linear-gradient(top, #9C9C9C 0%, #CCCCCC 25%, #BABABA 75%, #4A4A4A 100%);

background-size:auto auto;
position:relative;
z-index:99;
display: none;
-moz-border-radius: 15px;
border-radius: 15px;
}


#right{
float:right;
width:20%;
min-height:800px;
height:auto !important;
text-align:center;
margin:3px;
border:solid black 1px;
background-color:black;
background-image:url('http://shootystealy.com/images/news2.jpg');
background-repeat:no-repeat;
background-size:300px 100%;
background-position:bottom;
font-size:110%;
color:#D11111;
padding-right:5px;
padding-left:5px;
-moz-border-radius: 15px;
border-radius: 15px;
}
.text{
padding-top:3px;
padding-bottom:3px;
padding-right:5px;
padding-left:5px;
}
.video{
padding-top:3px;
padding-bottom:3px;
padding-right:10px;
padding-left:10px;
font-size:14pt;
}
#footer{
float:left;
height:67px;
text-align:center;
background-image:url('http://shootystealy.com/images/graybanner.jpg');
background-size:995px auto;
border:solid black 1px;
width:100%;
}
#legal{
width:25%;
float:left;
padding:0px;
text-align:left;
vertical-align:middle;
height:67px;
padding-top:6px;
padding-right:6px;
padding-left:6px;
font-size:11pt;
}
#ad{
float:left;
vertical-align:middle;
}
#counter{
float:right;
width:20%;
height:67px;
vertical-align:middle;
}
p.small{
padding:3px;
margin:0px;
}
p.centered{
vertical-align:middle;
padding:3px;
}
#copyright{
font-size:8pt;
}

A:link {text-decoration: none; color:#E07000;}
A:visited {text-decoration: none; color:#E07000;}
A:active {text-decoration: none; color:#E07000;}
A:hover {text-decoration: none; color: teal;}